<footer>
    <p class="cells">221b Baker St. London</p>
    <p class="cells">alkahafahmed@gmail.com</p>
    <p class="cells">Open 6am-9pm</p>
    <p class="cells">Pralk Pvt. Ltd.</p>
</footer>

</body>

</html>