
body{
    margin-right: 125px;
    margin-left: 125px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.posts{
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Fuzzy Bubbles', cursive;
}
#myblog{
    font-size: 30px;
}
.navbar-nav  li a:hover {
    color: #a6ddd1 !important;
}
a.top:hover {
    color: #552905 !important;
}
footer {
    border: 0.1rem #000 solid;
    border-left: 0;
    border-right: 0;
    
    text-align: center;
    font-size: 1.3vw; 
    
    margin: 1vw 1.2vw;
    margin-top: auto;
}

.cells {
    display: inline-block;
    border-right: 1vh #000 solid;
    
    text-align: center;

    
    padding: 0vw 0.5vw;
    margin: 0.5vw;
}

p:last-child {
  border-right: 0;
}

a {
     text-decoration: none;
}

.bottomCompose{
    margin-top: 8px;
}
/* a:link{
    color: white;
    text-decoration: none;
} */